{% macro renderInput(label, id, name) %}
  <label class="govuk-label govuk-label--l" for="{{ id }}">{{ label }}</label>
  <input class="govuk-input" id="{{ id }}" name="{{ name }}" type="text">
{% endmacro %}
